@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">My Products</h1>

    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.StoreProductModel[0].Id)</th>
                <th>@Html.DisplayNameFor(m => m.StoreProductModel[0].Name)</th>
                <th>@Html.DisplayNameFor(m => m.StoreProductModel[0].Description)</th>
                <th>@Html.DisplayNameFor(m => m.StoreProductModel[0].Price)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.StoreProductModel)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>@Html.DisplayFor(modelItem => item.Price)</td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>        
</div>
